<html>
    <body background="https://image.freepik.com/vector-gratis/fondo-textura-acuarela-abstracta-pastel_10126-978.jpg"witdth="1000" height="1000">  
    <style>
        body{
            font-family:"Comic Sans MS";
        }
    </style>
<h1>
            Bienvenidos!!!
        </h1>
        <h2>Esta es mi primera pagina web</h2>
        <p>espero seguir mejorando ;) </p>
         
        <img src="https://img.pixers.pics/pho(s3:400/FO/38/20/49/49/400_FO38204949_19a8d30eda3b7da2b3913e2ce7ebd26e.jpg,400,400,jpg)/vinilos-para-pared-corazones-de-san-valentin-para-su-diseno.jpg.jpg" witdth="350" height="350">
     <p></p>  
      <a href="https//www.penguin.academy", target= "_blank"></a>
    Hola me llamo {{nombre}} y tengo {{28}} anhos y mi hoobie es 
   {% for x in hobbies%}
  <li>{{ x}}</li>
   {% endfor%}
   <P> y bue, esto si es tarea</P>
   {% for tarea in lista_tarea%}
   <li>{{tarea.titulo}}:{{tarea.descripcion}}</li>
   {% endfor%}

    <p>:) vuelvan siempre :)</p>

    </body>
</html>